*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;

}

body{
background:#f5f5f5;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
position:fixed;
top:0;
left:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 60px;

background:white;
box-shadow:0 3px 12px rgba(0,0,0,0.08);

z-index:1000;
}

.nav-left{
display:flex;
align-items:center;
gap:25px;
}

.logo{
height:45px;
width:auto;
cursor:pointer;
}

.nav-left input{
width:450px;
padding:10px;
border-radius:5px;
border:1px solid #ddd;
width:420px;
padding:12px 18px;

border-radius:25px;
border:1px solid #ddd;

outline:none;

font-size:14px;

transition:0.3s;
}
.nav-left input:focus{
border-color:#f84464;
box-shadow:0 0 6px rgba(248,68,100,0.3);
}

.nav-right{
display:flex;
align-items:center;
gap:20px;
font-size:14px;
}


.nav-right a{
text-decoration:none;
color:#000000;
font-weight:650;
padding:6px 8px;

transition:0.3s;
}

.nav-right a:hover{
color:#f84464;
}


/* LOGIN BUTTON */

.login{
border:1px solid #f84464;
color:#f84464;
border-radius:6px;
padding:6px 14px;
}

.login:hover{
background:#f84464;
color:white;
}


/* SIGNUP BUTTON */

.signup{
background:#f84464;
color:white;
border-radius:6px;
padding:6px 14px;
}

.signup:hover{
background:#e63656;
}


/* PROFILE */

.profile img{
height:40px;
width:40px;
border-radius:50%;
object-fit:cover;
cursor:pointer;
border:2px solid transparent;
transition:0.3s;
}

.profile img:hover{
border-color:#f84464;
transform:scale(1.05);
}


/* RESPONSIVE */

@media(max-width:1000px){

.nav-left input{
width:250px;
}

.navbar{
padding:15px 25px;
}

.nav-right a{
display:none;
}

/* .login,
.signup{
display:inline-block;
}

}

.signin{
background:#f84464;
color:white;
border:none;
padding:8px 18px;
border-radius:5px;
cursor:pointer;
} */


/* MENU */

.menu{
background:#f8f8f8;
padding:10px 60px;
}

.menu ul{
display:flex;
list-style:none;
gap:25px;
font-weight:500;
}

/* BANNER */

.banner img{
width:100%;
height:320px;
object-fit:cover;
}

/* SECTION */

.section{
padding:40px 60px;
}

.section-header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

/* MOVIES GRID */

.movie-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:20px;
}

.movie-card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
cursor:pointer;
}

.movie-card img{
width:100%;
height:300px;
object-fit:cover;
}

.movie-card h3{
padding:10px;
font-size:16px;
}

.movie-card p{
padding:0 10px 15px;
color:#666;
font-size:14px;
}

/* EVENTS */

.event-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.event-card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.event-card img{
width:100%;
height:200px;
object-fit:cover;
}

.event-card p{
padding:10px;
font-weight:500;
}

/* FOOTER */

.footer{
background:#2e2e2e;
color:white;
padding:40px 60px;
}

.footer-container{
display:flex;
justify-content:space-between;
}

.newsletter input{
padding:10px;
border:none;
border-radius:5px;
margin-top:10px;
}

.newsletter button{
margin-top:10px;
padding:10px 15px;
background:#f84464;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}